* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 10px;
}

.wrapper {
    max-width: 1020px;
    height: 80vh;
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    border: 2px solid black;
}

.game-field {
    background: url(../../img/beach.jpg) no-repeat center;
    background-size: cover;
    position: relative;
}

.drop {
    position: absolute;
    display: inline-block;
    background: url(../../img/drop.svg) no-repeat center;
    background-size: cover;
    width: 12%;
    height: 15%;
    text-align: center;
}

.drop span {
    font-size: 3rem;
    position: absolute;
}

.drop .number-1 {
    top: 30%;
    left: 40%;
}

.drop__operator {
    top: 45%;
    left: 15%;
}

.drop .number-2 {
    top: 60%;
    left: 40%;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15%;
    overflow: hidden;
}

.water {
    position: absolute;
    bottom: 0;
    width: 5000px;
    height: 100%;
    z-index: 2;
    animation: water 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
    background-image: url('../../img/wave.svg');
    background-repeat: repeat-x;
}

.water-2 {
    bottom: 5px;
    animation: water 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
}

@keyframes water {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: -1288px;
    }
}

@keyframes swell {
    0%, 100% {
        transform: translate3d(0, -25px, 0);
    }
    50% {
        transform: translate3d(0, 5px, 0);
    }
}

.panel {
    background-color: rgb(203, 232, 229);
    text-align: center;
}

.panel__score {
    width: 90%;
    margin: auto;
    padding: 10px 0;
    background-color: rgb(238, 238, 238);
    border: 1px solid white;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
}

.panel__score p {
    font-size: 3rem;
}

.panel__score span {
    font-size: 3.5rem;
    color: crimson;
}

.panel__calc {
    width: 80%;
    height: 40vh;
    margin: auto;
    margin-top: 50px;
    padding: 10px;
    background-color: rgb(231, 223, 194);
    text-align: center;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, .3), -3px 5px 5px rgba(0, 0, 0, .3);
}

input {
    max-width: 240px;
    height: 100px;
    text-align: center;
    font-size: 5rem;
    border: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid rgb(167, 167, 167);
    background-color: rgb(238, 238, 238);
}

.panel__buttons {
    max-width: 240px;
    height: 72%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

button {
    cursor: pointer;
}

.panel__buttons button:nth-child(4) {
    grid-column: 4 / 4;
    grid-row: 1 / 3;
}

.panel__buttons button:nth-child(11) {
    grid-column: 4 / 4;
    grid-row: 3 / 5;
}

.panel__buttons button:nth-child(12) {
    grid-column: 1 / 3;
}

.panel__buttons button {
    background-color: white;
    border: 1px solid rgb(167, 167, 167);
    font-size: 2rem;
}

.panel__buttons button:active {
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.panel__buttons__play {
    margin-top: 50px;
}