* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Heebo', sans-serif;
    font-size: 10px;
}

h2 {
    font-size: 10rem;
    font-weight: 800;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-color: #005e9d;
    text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
    user-select: none;
}

h3 {
    font-size: 2.5rem;
    color: #5b96be;
    user-select: none;
}

.intro-window {
    width: 100vw;
    height: 100vh;
    transition: all 1s ease;
    background: radial-gradient(#c5ddf1, #94b6d1);
    z-index: 5;
    display: grid;
    grid-template-rows: 2fr 1fr 3fr 1fr;
    align-items: center;
    justify-items: center;
}

.intro-drops {
    position: relative;
    margin: 0 auto;
    min-width: 1020px;
    height: 50vh;
}

.drop-left, .drop-rigth {
    position: absolute;
    width: 8%;
    height: 30%;
    min-width: 80px;
    min-height: 120px;
    background-image: url(../../img/drop.png);
    background-size: 100%;
    background-repeat: no-repeat;
    pointer-events: none;
}

.drop-left {
    top: 5%;
    left: 20%;
    opacity: 0.8;
    z-index: 2;
}

.drop-center {
    position: absolute;
    width: 28%;
    height: 50%;
    min-width: 200px;
    min-height: 415px;
    top: 8%;
    left: 35%;
    background-image: url(../../img/main-drop.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 3;
    pointer-events: none;
}

.drop-rigth {
    top: 20%;
    right: 20%;
    opacity: 0.6;
    z-index: 1;
}

.intro-buttons button {
    padding: 5px 10px;
    margin: 0 10px;
    border: 4px solid #5b96be;
    border-radius: 10px;
    font-size: 2.5rem;
    font-family: 'Fredoka One', cursive;
    color: #5b96be;
    background: none;
    outline: none;
    cursor: pointer;
    user-select: none;
}

.howToPlay:hover {
    border: 4px solid #cf6706;
    background: #f8b445;
    color: white;
}

.start:hover {
    background: #ff0000;
    border: 4px solid #c30000;
    color: white;
}

.howToPlay:active, .start:active {
    font-size: 2rem;
}
